@use '../variables';

.navbar {
    height: 3.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #262626;
    color: white;

    .navbar-links {
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        width: 15em;

        a {
            text-decoration: none;
            color: #f9f5ea;
            font-size: 1rem;
            font-weight: bold;
            width: auto;

            &:hover {
                color: white;
                /* Changement de couleur au survol */
            }
        }
    }

    .navbar-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        /* Centre le texte dans son conteneur */
        flex-grow: 1;
        /* Permet à h1 de prendre toute la largeur restante */
    }

    .navbar-icons {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
        width: 15em;
        /* Alignement des icônes à droite */
    }
}